target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


.project
*.prefs
.classpath
.springBeans
.settings
target/
tmp
.idea/
*.iml
*.ipr
*.iws
*.ids
project/
.gradle/
out
.metadata
Servers
classes/
atlassian-ide-plugin.xml
.sonar/
sonar-project.*
*~
rebel.xml
buildSrc/
db-migration/
contiperf-report/
bin/
build/
*/src/generated/